<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item" pRipple (click)="goto('dashboard')">
                <a class="nav-link active">
                    <i class="ri-home-line"></i> Dashboard
                </a>
            </li>
            <li class="nav-item" pRipple>
                <a class="nav-link">
                    <i class="ri-table-line"></i> Tables
                </a>
            </li>
            <li class="nav-item" pRipple (click)="goto('form')">
                <a class="nav-link">
                    <i class="ri-file-edit-line"></i> Forms
                </a>
            </li>
            <li class="nav-item" pRipple>
                <a class="nav-link">
                    <i class="ri-line-chart-fill"></i> Statistics
                </a>
            </li>
            <li class="nav-item" pRipple>
                <a class="nav-link" data-bs-toggle="collapse" href="#collapseExample">
                    <i class="ri-message-3-line"></i> Communication
                </a>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
                    </div>
                </div>
            </li>

        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Saved reports</span>
            <a class="link-secondary" href="#" aria-label="Add a new report">
            </a>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item" pRipple>
                <a class="nav-link" href="#">
          Current month
        </a>
            </li>
            <li class="nav-item" pRipple>
                <a class="nav-link" href="#">
          Last quarter
        </a>
            </li>
            <li class="nav-item" pRipple>
                <a class="nav-link" href="#">
          Social engagement
        </a>
            </li>
            <li class="nav-item" pRipple>
                <a class="nav-link" href="#">
          Year-end sale
        </a>
            </li>
        </ul>
    </div>
</nav>